extends layout

block content

  if (welcomeMessage)
    h6(class = "text-center text-italics text-success") #{welcomeMessage}

  if (errorMessage)
    h6(class = "text-center text-italics text-danger") #{errorMessage}

  div(class = "container")
    each post in postData
      - var imgSrc = imageData[Math.floor(Math.random()*imageData.length)];
      div(class = "row small-content-display")
        div(class = "col-3")
          img(src = imgSrc height = "170" width = "170" class = "rounded-circle float-left" alt = "postImage")
        div(class = "col")
          div(class = "row item-title border-bottom")
            div(class = "col")
              h5(class = "text-center")  #{post.post_title}
          div(class = "row item-body border-bottom")  
            div(class = "col")
              p  #{post.post_body}
          div(class = "row item-user")
            div(class = "col")  
              if (!currentUser || !currentUser.userAccess)
                p(class = "text-right")  Unknown User - #{post.get("date_of_post")}
              else
                if (isAdmin == true)
                  h5
                    a(class = "badge badge-warning float-left" href="/deletePost/"+post._id) Delete
                p(class = "text-right")  #{post.post_user} - #{post.get("date_of_post")}
        

